@import url("https://fonts.googleapis.com/css?family=Jost:400,400i,700,700i,900,900i&display=swap");
.content-center, .wrapper, form, form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Jost", sans-serif;
  color: white;
}

a {
  color: inherit;
}

.wrapper {
  height: 100%;
  background: #aa4b6b;
  background: -webkit-gradient(linear, left top, right top, from(#aa4b6b), color-stop(#6b6b83), to(#3b8d99));
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}

.form_wrapper {
  width: 400px;
  -webkit-box-shadow: 0px 35px 58px -9px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 35px 58px -9px rgba(0, 0, 0, 0.36);
  border-radius: 4px;
  background: white;
  color: #545454;
}

form {
  font-size: 1.4em;
}

form fieldset {
  margin: 0;
  padding: 15px;
  padding-bottom: 30px;
  border: none;
  position: relative;
}

form fieldset legend {
  font-size: 2em;
  font-weight: 400;
  position: relative;
  z-index: 1;
  top: 25px;
  left: 0;
}

form .input_wrapper {
  padding: 10px;
  position: relative;
  z-index: 1;
}

form .input_wrapper label[for="email"] {
  position: absolute;
  z-index: 2;
  top: 25px;
}

form .input_wrapper input[type="email"],
form .input_wrapper input[type="text"],
form .input_wrapper input[type="password"] {
  position: relative;
  font-family: "Jost", sans-serif;
  font-size: 0.9em;
  width: 100%;
  border: none;
  color: #545454;
  border-bottom: 1px solid #bfbfbf;
  outline: none;
  padding-top: 25px;
  background: none;
}

form .input_wrapper input[type="email"]:nth-of-type(3),
form .input_wrapper input[type="text"]:nth-of-type(3),
form .input_wrapper input[type="password"]:nth-of-type(3) {
  margin-bottom: 15px;
}

form .input_wrapper input[type="email"]::-webkit-input-placeholder,
form .input_wrapper input[type="text"]::-webkit-input-placeholder,
form .input_wrapper input[type="password"]::-webkit-input-placeholder {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #bfbfbf;
}

form .input_wrapper input[type="email"]:-ms-input-placeholder,
form .input_wrapper input[type="text"]:-ms-input-placeholder,
form .input_wrapper input[type="password"]:-ms-input-placeholder {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #bfbfbf;
}

form .input_wrapper input[type="email"]::-ms-input-placeholder,
form .input_wrapper input[type="text"]::-ms-input-placeholder,
form .input_wrapper input[type="password"]::-ms-input-placeholder {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #bfbfbf;
}

form .input_wrapper input[type="email"]::placeholder,
form .input_wrapper input[type="text"]::placeholder,
form .input_wrapper input[type="password"]::placeholder {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #bfbfbf;
}

form .input_wrapper input[type="email"]:focus,
form .input_wrapper input[type="text"]:focus,
form .input_wrapper input[type="password"]:focus {
  border-bottom: 1px solid #545454;
}

form .input_wrapper input[type="email"]:focus::-webkit-input-placeholder,
form .input_wrapper input[type="text"]:focus::-webkit-input-placeholder,
form .input_wrapper input[type="password"]:focus::-webkit-input-placeholder {
  position: relative;
  z-index: 4;
  color: #545454;
  font-size: 0.75em;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

form .input_wrapper input[type="email"]:focus:-ms-input-placeholder,
form .input_wrapper input[type="text"]:focus:-ms-input-placeholder,
form .input_wrapper input[type="password"]:focus:-ms-input-placeholder {
  position: relative;
  z-index: 4;
  color: #545454;
  font-size: 0.75em;
  transform: translateY(-25px);
}

form .input_wrapper input[type="email"]:focus::-ms-input-placeholder,
form .input_wrapper input[type="text"]:focus::-ms-input-placeholder,
form .input_wrapper input[type="password"]:focus::-ms-input-placeholder {
  position: relative;
  z-index: 4;
  color: #545454;
  font-size: 0.75em;
  transform: translateY(-25px);
}

form .input_wrapper input[type="email"]:focus::placeholder,
form .input_wrapper input[type="text"]:focus::placeholder,
form .input_wrapper input[type="password"]:focus::placeholder {
  position: relative;
  z-index: 4;
  color: #545454;
  font-size: 0.75em;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

form input[type="checkbox"],
form input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

form .gender_wrapper,
form .terms_wrapper {
  padding: 10px;
  color: inherit;
}

form .gender_wrapper label {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

form .gender_wrapper label::after {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  content: "";
  position: absolute;
  top: 7px;
  height: 14px;
  width: 14px;
  border: 2px solid #545454;
  border-radius: 50%;
  margin-left: 2px;
}

form .gender_wrapper input[type="radio"]:checked + label::after {
  background: #545454;
}

form .terms_wrapper label {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

form .terms_wrapper label::after {
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  content: "";
  position: absolute;
  top: 7px;
  height: 14px;
  width: 14px;
  border: 2px solid #545454;
  border-radius: 4px;
  margin-left: 2px;
}

form .terms_wrapper input[type="checkbox"]:checked + label::after {
  background: url("../img/check-solid.svg"), #545454;
}

form .terms_wrapper p {
  font-size: 0.6em;
}

form button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  font-family: "Jost", sans-serif;
  font-size: 1em;
  padding: 10px;
  background: none;
  border: 1px solid #545454;
  border-radius: 4px;
  color: #545454;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

form button[type="submit"]:hover {
  background: #545454;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 410px) {
  .form_wrapper {
    width: 100%;
    border-radius: 0;
  }
}
