@import "main-style";
@import url("https://fonts.googleapis.com/css?family=Jost:400,400i,700,700i,900,900i&display=swap");

$main-background: white;
$main-color: #545454;
$main-border: #bfbfbf;

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Jost", sans-serif;
  color: white;
}

a {
  color: inherit;
}

.wrapper {
  height: 100%;
  @extend .content-center;
  background: #aa4b6b;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}

.form_wrapper {
  width: 400px;
  box-shadow: 0px 35px 58px -9px rgba(0, 0, 0, 0.36);
  border-radius: 4px;
  background: $main-background;
  color: $main-color;
}

form {
  @extend .content-center;
  font-size: 1.4em;
  fieldset {
    @extend .content-center;
    margin: 0;
    padding: 15px;
    padding-bottom: 30px;
    border: none;
    position: relative;

    legend {
      font-size: 2em;
      font-weight: 400;
      position: relative;
      z-index: 1;
      top: 25px;
      left: 0;
    }
  }

  .input_wrapper {
    padding: 10px;
    position: relative;
    z-index: 1;

    label[for="email"] {
      position: absolute;
      z-index: 2;
      top: 25px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"] {
      position: relative;
      font-family: "Jost", sans-serif;
      font-size: 0.9em;
      width: 100%;
      border: none;
      color: $main-color;

      border-bottom: 1px solid $main-border;
      outline: none;
      padding-top: 25px;
      background: none;

      &:nth-of-type(3) {
        margin-bottom: 15px;
      }

      &::placeholder {
        transition: all 0.3s;
        color: #bfbfbf;
      }

      &:focus {
        border-bottom: 1px solid $main-color;

        &::placeholder {
          position: relative;
          z-index: 4;
          color: $main-color;
          font-size: 0.75em;
          transform: translateY(-25px);
        }
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  .gender_wrapper,
  .terms_wrapper {
    padding: 10px;
    color: inherit;
  }

  .gender_wrapper {
    label {
      position: relative;
      cursor: pointer;
      margin-right: 20px;
      &::after {
        transition: background 0.2s;
        content: "";
        position: absolute;
        top: 7px;
        height: 14px;
        width: 14px;
        border: 2px solid $main-color;
        border-radius: 50%;
        margin-left: 2px;
      }
    }

    input[type="radio"]:checked + label {
      &::after {
        background: $main-color;
      }
    }
  }

  .terms_wrapper {
    label {
      position: relative;
      cursor: pointer;
      margin-right: 20px;
      &::after {
        transition: background 0.2s;
        content: "";
        position: absolute;
        top: 7px;
        height: 14px;
        width: 14px;
        border: 2px solid $main-color;
        border-radius: 4px;
        margin-left: 2px;
      }
    }

    input[type="checkbox"]:checked + label {
      &::after {
        background: url("../img/check-solid.svg"), $main-color;
      }
    }

    p {
      font-size: 0.6em;
    }
  }

  button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    font-family: "Jost", sans-serif;
    font-size: 1em;
    padding: 10px;
    background: none;
    border: 1px solid $main-color;
    border-radius: 4px;
    color: $main-color;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: $main-color;
      color: $main-background;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 410px) {
  .form_wrapper {
    width: 100%;
    border-radius: 0;
  }
}
